<div class="moveBelowHeader">
<h1>My Account Information</h1>
  <form action="/userInfo" method="get">
    
      <div class="user">
          <p class="saveLabel">Signed in as: <%= current_user.name %></p>
          <p class="saveLabel">Signed in with: <%= current_user.provider.gsub!('_oauth2', '').titleize %></p>
          <p class="saveLabel">User Image: <%= image_tag(current_user.user_image, width: "40", height: "40", class: 'img-circle') %></p>
      </div>
</div>

