<div class="moveBelowHeader">
</div>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<body>
<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      GET ORGANIZED...
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item"> CDs </li>
      <li class="content__container__list__item"> DVDs </li>
      <li class="content__container__list__item"> Shopping Lists </li>
      <li class="content__container__list__item"> Wish Lists </li>
    </ul>
  </div>
</div>

<div class="barcodeLink">
  <p>
    Add an item to your inventory: 
    <%= link_to 'inventory' do %><%= image_tag('barcode.png', width: '100', height: '100', class: 'img-barcode') %><% end %>
  </p>
</div>
  <div class="logoImage">
  <p>
  <%= link_to "#" do %><%= image_tag('logo.png', width: '65', height: '65', class: 'logo-image') %><% end %>
  </a>
  </p>
</div>


</body>
<div class="footer">
&copy; Copyright 2018 Personal Inventory Systems
</div>

