<div class="moveBelowHeader">
</div>
<body>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Hello
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">world !</li>
      <li class="content__container__list__item">Bob !</li>
      <li class="content__container__list__item">users !</li>
      <li class="content__container__list__item">everybody !</li>
    </ul>
  </div>
</div>

<div class="barcodeLink">
  <p>
    An image as a link: 
    <%= link_to "#" do %><%= image_tag('barcode.png', width: '100', height: '100', class: 'img-barcode') %><% end %>
      
    </a>
  </p>
</div>
</body>
<div class="footer">
&copy; Copyright 2018 Personal Inventory Systems
</div>

