<div class="moveBelowHeader">
		<form action="/addItemToInventory" method="get">

           <label for="upc">Please enter the items UPC:</label>
           <input type="text" name="upc" id="upc" value="">
           <br><br>

           <input type="submit" name="submit" value="Submit">
          
    </form>

</div>