<div class="moveBelowHeader">
  <h1>Inventory</h1>
  <p>This is the home of your list of items you have added to your inventory!  There will be more options in future to filter your list to make it a little more your style.</p>
</div>