<div class="moveBelowHeader">
<html>
<head>
<link rel="stylesheet" type="text/css" href="add_item_manually.scss">

</head>

</head>
<body>

<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="description">Description:</label>
      </div>
      <div class="col-75">
        <input type="text" id="description" name="description" placeholder="Description...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="text">:</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="class">Class:</label>
      </div>
      <div class="col-75">
        <select id="class" name="class">
          <option value="upc">UPC</option>
          <option value="title">Title</option>
          <option value="brand">Brand</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="notes">Notes:</label>
      </div>
      <div class="col-75">
        <textarea id="notes" name="notes" placeholder="Write something..." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="sumbit" value="Add Item!">
    </div>
  </form>
</div>

</body>
</html>

