<div class="moveBelowHeader">
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <a href="app/views/inventory/addItem.html">Add Item</a>
  <img src="app/assets/images/abstract-aura-background-1755.jpg" alt="CoolPicture" style="width:100%">
</head>
<body>

<h2>Add away....</h2>
<p>Would you like to add a new item or task to your list?</p>



<div class="container">
  <button class="btn">Add Item!</button>
</div>

</body>
</html>
