<div class="moveBelowHeader">
<head>

<div class="row">
	<div class="column side">
	<form action="/addItemToInventory" method="get">

           <label for="upc">Please enter the items UPC:</label>
           <input type="text" name="upc" id="upc" value="">
           <br><br>

           <input type="submit" name="submit" value="Submit">
          
    </form>
    <br><br>
  
  <div class="filters">
    <p>Search:</p>
	  <input type="text" id="search"></input>
	  
    <p>Search by: </p>
    <select id="searchByField">
        <option value=".upcValue">UPC</option>
        <option value=".titleValue">Title</option>
        <option value=".brandValue">Brand</option>
        <option value=".descValue">Description</option>
    </select><br>
	</div>
	
  <div class="inventoryItems"><br>	
		<div id="list"> 
    <% @inventory.where("user_id = ?", session[:user_id]).each do |item| %>
      <div class="itemWrapper">
          <p class="label">UPC: </p><p class="upcValue"><%= item.upc %></p><br>
          <p class="label">Title: </p><p class="titleValue"><%= item.title %></p><br>
          <p class="label">Brand: </p><p class="brandValue"><%= item.brand %></p><br>
          <p class="label">Description: </p><p class="descValue"><%= item.description %></p>
      </div>
    <% end %> 
    </div>
  </div>
  
 <script>  
$(function() {
 var selectedSearch = ".upcValue";
  $("#searchByField").change(function(){
    selectedSearch = this.value;
  })
  $("#search").keyup(function(){
    var self = this;
    $(".itemWrapper").each(function(){
     if (!$(this).find(selectedSearch).text().toLowerCase().includes(self.value.toLowerCase())){
       $(this).slideUp(150);
     } else {
       $(this).slideDown(150);
     }
    })    
  })
  
});  
 </script>
