
		<form action="/addItemToInventory" method="get">

           <label for="upc">Please enter the items UPC:</label>
           <input type="text" name="upc" id="upc" value="">
           <br><br>

           <input type="submit" name="submit" value="Submit">
          
    </form>
    <br><br>
    <div class="inventoryItems"><br>
    <% @inventory.each do |item| %>
      <div class="itemWrapper">
          <p class="label">UPC: </p><p class="score"><%= item.upc %></p><br>
          <p class="label">Title: </p><p class="_lives"><%= item.title %></p><br>
          <p class="label">Brand: </p><p class="bullets"><%= item.brand %></p><br>
          <p class="label">Description: </p><p class="difficulty"><%= item.description %></p>
      </div>
    <% end %> 
  </div>