<div class="moveBelowHeader">
  <h1>Personal Inventory System</h1>
  
  <body>
  <table>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Genre</th>
      <th>Quantity</th>
    </tr>
    <tr>
      <td>CD</td>
      <td>Kane Brown</td>
      <td>Country</td>
      <td>1</td>
    </tr>
    <tr>
      <td>DVD</td>
      <td>Ghostbusters</td>
      <td>Comedy</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Grocery</td>
      <td>apples</td>
      <td>n/a</td>
      <td>dozen</td>
    </tr>
    <tr>
      <td>Household</td>
      <td>papertowel</td>
      <td>n/a</td>
      <td>6</td>
  </tr>
  </table>
</div>