
// Carousel CSS
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

@media screen and (min-width: 1300px) {
  .carousel-caption {
    
  bottom: 24%;
    
  }
}

.carousel-caption {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(140, 49, 209, 0.7);
  padding-top: 0;
  font-size: 1em;
}

.carousel-inner {
  max-height: 454px;
}

.item img {
  max-height: 560px;
  height: 100%;
  width: 100%;
}

.item a {
  text-decoration: none;
  color: rgba(255, 126, 247, 1);
}

.item a:hover {
  color: rgba(255, 126, 237, 0.81);
}

.container {
    position: relative;
    width: 100%;
    max-width: 800px;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn:hover {
    background-color: lavender;
    color: pink;
}