


.label {
  color:violet;
  font-family: 'Handlee';
  display:inline;
}

.inventoryItems {
  width: 95%; 
  height:100%;
  margin:0;
  margin-right: 20px;
  margin-left:20px;
  //background-color:rgba(255,255,255, 0.1);
  box-shadow: 0px 0px 15px rgba(255,255,255, 0.1), 0px 0px 100px rgba(255,255,255, 0.1) inset;
  border-radius: 5px;
  max-height:28em;
  overflow:auto;
}

.inventoryItems p {
  display:inline;
}

.itemWrapper {
  width:90%; 
  height: auto;
  margin: 0 auto;
  border-bottom: 1px double violet;
  padding:10px;
}

.filters {
  float:right;
  margin-right:10%;
  display:inline;
}

.filters p, .filters input, .filters select{
  display:inline;
}

