* {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline-style: none;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

input, select {
  display:inline
}

h2 {
  text-align:center;
  margin: 0 auto;
  color: #c3073f;
  font-family: 'Handlee';
  font-size:3.3em;
}

.label {
  color: #6f2232;
  font-family: 'Handlee';
  display: inline;
  font-size: 1.2em;
  margin: 2px;
}

.previewLabel{
  color: #6f2232;
  font-size: 1.2em;
  text-align:left;
}

.inventoryItems {
  width: 65%;
  margin:1em;
  min-height:44em;
  max-height:44em;
  overflow:auto;
  border: 1px solid white;
  float:left
}

.itemPreview {
  width: 32%;
  margin:1em;
  min-height:44em;
  max-height:44em;
  overflow:auto;
  border: 1px solid white;
}

.itemPreview p {
  text-align: center; 
  color:violet;
  text-shadow: 0px 0px #202020;
  font-size:1.1em;
  padding-left:1em;
  padding-right:1em;
  font-family: 'Handlee';
}

.itemPreview img {
  margin: 0 auto;
  margin-left:25%;
  max-height: 25em;
  max-width: 20em;
  width:auto;
  height:auto;
  border:1px solid white;
}

.displayInv {
  width: 95%;
  margin:auto;
  margin-bottom: 5em;
  min-height:46em;
  max-height:46em;
  overflow:auto;
  border: 1px solid white;
  background-color: #ac3b61;
}

.filters{
  margin-left: 3em;
  padding:1em;
}

.filters input {
  margin-bottom: 1em;
}

.submit {
  border-radius: 3px;
  background-color: #FFF;
  padding: 2px;
  margin-bottom: 1em;
}

.submit:hover {
  box-shadow: 0 0 5px #000;
}

.itemWrapper {
  width:90%; 
  height: auto;
  max-height:7em;
  overflow:hidden;
  margin: 3px auto;
  border: 3px double violet;
  padding:10px;
}

.itemWrapper:hover{
  cursor:pointer;
}

.itemWrapper p {
  display:inline;
}

