.accountInformation {
  background: rgba(180, 140, 209, 1);
  box-shadow: 0 0 200px rgba(129, 93, 155, 1);
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.accountInformation a {
  text-decoration: none;
  color: rgba(140, 49, 209, 1);
}